<a href="https://colab.research.google.com/github/Veerendra-sys/APortfolio/blob/main/IPL_2024_Cleaned_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("/content/IPL.csv", on_bad_lines='skip', delimiter=',')
df

<ipython-input-8-68189b3316f8>:1: DtypeWarning: Columns (5,8,9,10,12,13,14,16,17,18,19,20,23,27,28,29,30,31,32,40,41,42,43,46,47,48,49,50,51,54,55,56,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/IPL.csv", on_bad_lines='skip', delimiter=',')

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_balls,team_wicket,new_batter,batting_team_players,bowling_team_players,curr_batter_runs,curr_batter_balls,bowler_wicket,batting_partners,next_batter
0,0,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,...,1.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",0.0,1.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
1,1,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,...,2.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",0.0,1.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
2,2,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,...,2.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",0.0,1.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
3,3,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,...,3.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",0.0,2.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
4,4,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,...,4.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",0.0,3.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220577,107073,829715,2015-04-12,T20,Indian Premier League,2.0,Rajasthan Royals,Delhi Daredevils,18.0,1.0,...,109.0,6.0,NaN,"['AM Rahane', 'SV Samson', 'SPD Smith', 'KK Na...","['MA Agarwal', 'SS Iyer', 'JP Duminy', 'Yuvraj...",54.0,25.0,1,"('DJ Hooda', 'JP Faulkner')",CH Morris
220578,107074,829715,2015-04-12,T20,Indian Premier League,2.0,Rajasthan Royals,Delhi Daredevils,18.0,2.0,...,110.0,6.0,CH Morris,"['AM Rahane', 'SV Samson', 'SPD Smith', 'KK Na...","['MA Agarwal', 'SS Iyer', 'JP Duminy', 'Yuvraj...",6.0,1.0,0,"('CH Morris', 'JP Faulkner')",NaN
220579,107075,829715,2015-04-12,T20,Indian Premier League,2.0,Rajasthan Royals,Delhi Daredevils,18.0,3.0,...,111.0,6.0,NaN,"['AM Rahane', 'SV Samson', 'SPD Smith', 'KK Na...","['MA Agarwal', 'SS Iyer', 'JP Duminy', 'Yuvraj...",6.0,2.0,0,"('CH Morris', 'JP Faulkner')",NaN
220580,107076,829715,2015-04-12,T20,Indian Premier League,2.0,Rajasthan Royals,Delhi Daredevils,18.0,4.0,...,112.0,6.0,NaN,"['AM Rahane', 'SV Samson', 'SPD Smith', 'KK Na...","['MA Agarwal', 'SS Iyer', 'JP Duminy', 'Yuvraj...",7.0,3.0,0,"('CH Morris', 'JP Faulkner')",NaN
220581,107077,829715,2015-04-12,T,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns

Index(['Unnamed: 0', 'match_id', 'date', 'match_type', 'event_name', 'innings',
       'batting_team', 'bowling_team', 'over', 'ball', 'ball_no', 'batter',
       'bat_pos', 'runs_batter', 'balls_faced', 'bowler', 'valid_ball',
       'runs_extras', 'runs_total', 'runs_bowler', 'runs_not_boundary',
       'extra_type', 'non_striker', 'non_striker_pos', 'wicket_kind',
       'player_out', 'fielders', 'runs_target', 'review_batter',
       'team_reviewed', 'review_decision', 'umpire', 'umpires_call',
       'player_of_match', 'match_won_by', 'win_outcome', 'toss_winner',
       'toss_decision', 'venue', 'city', 'day', 'month', 'year', 'season',
       'gender', 'team_type', 'superover_winner', 'result_type', 'method',
       'balls_per_over', 'overs', 'event_match_no', 'stage', 'match_number',
       'team_runs', 'team_balls', 'team_wicket', 'new_batter',
       'batting_team_players', 'bowling_team_players', 'curr_batter_runs',
       'curr_batter_balls', 'bowler_wicket', 'batting_partners',
       'next_batter'],
      dtype='object')

In [ ]:
df.head(10)

,Unnamed: 0,match_id,date,match_type,event_name,innings,batting_team,bowling_team,over,ball,...,team_balls,team_wicket,new_batter,batting_team_players,bowling_team_players,curr_batter_runs,curr_batter_balls,bowler_wicket,batting_partners,next_batter
0,0,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,...,1.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",0.0,1.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
1,1,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,...,2.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",0.0,1.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
2,2,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,...,2.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",0.0,1.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
3,3,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,...,3.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",0.0,2.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
4,4,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,...,4.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",0.0,3.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
5,5,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,...,5.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",0.0,4.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
6,6,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,6,...,6.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",0.0,5.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
7,7,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,...,7.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",0.0,6.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
8,8,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,...,8.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",4.0,7.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN
9,9,335982,2008-04-18,T20,Indian Premier League,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,...,9.0,0.0,NaN,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...",8.0,8.0,0.0,"('BB McCullum', 'SC Ganguly')",NaN

In [ ]:
print(df.isnull().sum())

Unnamed: 0                0
match_id                  0
date                      0
match_type                0
event_name                1
                      ...
curr_batter_runs         56
curr_batter_balls        56
bowler_wicket            58
batting_partners         68
next_batter          210098
Length: 65, dtype: int64

Dropping unnecessary columns

In [ ]:
# Display the existing columns in your DataFrame
df.drop(columns=['Unnamed: 0', 'next_batter'], inplace=True, errors='ignore')
#                                 ^ Added space
# errors='ignore' will skip any non-existent columns to avoid the KeyError.

In [ ]:
print(df.columns)

Index(['match_id', 'date', 'match_type', 'event_name', 'innings',
       'batting_team', 'bowling_team', 'over', 'ball', 'ball_no', 'batter',
       'bat_pos', 'runs_batter', 'balls_faced', 'bowler', 'valid_ball',
       'runs_extras', 'runs_total', 'runs_bowler', 'runs_not_boundary',
       'extra_type', 'non_striker', 'non_striker_pos', 'wicket_kind',
       'player_out', 'fielders', 'runs_target', 'review_batter',
       'team_reviewed', 'review_decision', 'umpire', 'umpires_call',
       'player_of_match', 'match_won_by', 'win_outcome', 'toss_winner',
       'toss_decision', 'venue', 'city', 'day', 'month', 'year', 'season',
       'gender', 'team_type', 'superover_winner', 'result_type', 'method',
       'balls_per_over', 'overs', 'event_match_no', 'stage', 'match_number',
       'team_runs', 'team_balls', 'team_wicket', 'new_batter',
       'batting_team_players', 'bowling_team_players', 'curr_batter_runs',
       'curr_batter_balls', 'bowler_wicket', 'batting_partners'],
      dtype='object')

In [ ]:
# Fill missing values in 'event_name' with 'Unknown'
df['event_name'].fillna('Unknown', inplace=True)

# Fill missing values in numerical columns with 0
df['curr_batter_runs'].fillna(0, inplace=True)
df['curr_batter_balls'].fillna(0, inplace=True)
df['bowler_wicket'].fillna(0, inplace=True)

<ipython-input-25-c5bdfa7f5014>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['curr_batter_runs'].fillna(0, inplace=True)

In [ ]:
df.drop(columns=['batting_partners'], inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.columns

Index(['match_id', 'date', 'match_type', 'event_name', 'innings',
       'batting_team', 'bowling_team', 'over', 'ball', 'ball_no', 'batter',
       'bat_pos', 'runs_batter', 'balls_faced', 'bowler', 'valid_ball',
       'runs_extras', 'runs_total', 'runs_bowler', 'runs_not_boundary',
       'extra_type', 'non_striker', 'non_striker_pos', 'wicket_kind',
       'player_out', 'fielders', 'runs_target', 'review_batter',
       'team_reviewed', 'review_decision', 'umpire', 'umpires_call',
       'player_of_match', 'match_won_by', 'win_outcome', 'toss_winner',
       'toss_decision', 'venue', 'city', 'day', 'month', 'year', 'season',
       'gender', 'team_type', 'superover_winner', 'result_type', 'method',
       'balls_per_over', 'overs', 'event_match_no', 'stage', 'match_number',
       'team_runs', 'team_balls', 'team_wicket', 'new_batter',
       'batting_team_players', 'bowling_team_players', 'curr_batter_runs',
       'curr_batter_balls', 'bowler_wicket'],
      dtype='object')

In [ ]:
# Convert 'date' to datetime, handling errors
df['date'] = pd.to_datetime(df['date'], errors='coerce', format='%Y-%m-%d')

# Convert categorical columns to 'category' type
df['match_type'] = df['match_type'].astype('category')
df['event_name'] = df['event_name'].astype('category')

In [ ]:
# Convert 'runs_batter' to numeric, handling errors
df['runs_batter'] = pd.to_numeric(df['runs_batter'], errors='coerce')

# Check for negative values in 'runs_batter'
print(df[df['runs_batter'] < 0])

# Replace negative values with 0
df['runs_batter'] = df['runs_batter'].clip(lower=0)

Empty DataFrame
Columns: [match_id, date, match_type, event_name, innings, batting_team, bowling_team, over, ball, ball_no, batter, bat_pos, runs_batter, balls_faced, bowler, valid_ball, runs_extras, runs_total, runs_bowler, runs_not_boundary, extra_type, non_striker, non_striker_pos, wicket_kind, player_out, fielders, runs_target, review_batter, team_reviewed, review_decision, umpire, umpires_call, player_of_match, match_won_by, win_outcome, toss_winner, toss_decision, venue, city, day, month, year, season, gender, team_type, superover_winner, result_type, method, balls_per_over, overs, event_match_no, stage, match_number, team_runs, team_balls, team_wicket, new_batter, batting_team_players, bowling_team_players, curr_batter_runs, curr_batter_balls, bowler_wicket]
Index: []

[0 rows x 62 columns]

In [ ]:
# Check for missing values
print(df.isnull().sum())

match_id                 0
date                     2
match_type               0
event_name               0
innings                  1
                        ..
batting_team_players    51
bowling_team_players    52
curr_batter_runs         0
curr_batter_balls        0
bowler_wicket            0
Length: 62, dtype: int64

In [ ]:
df.dropna(subset=['date'], inplace=True)
# Fill missing 'innings' with the mode
df['innings'].fillna(df['innings'].mode()[0], inplace=True)
# Fill missing 'batting_team_players' with 'Unknown'
df['batting_team_players'].fillna('Unknown', inplace=True)
# Fill missing 'bowling_team_players' with 'Unknown'
df['bowling_team_players'].fillna('Unknown', inplace=True)

<ipython-input-42-6e1268f05aef>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['innings'].fillna(df['innings'].mode()[0], inplace=True)
<ipython-input-42-6e1268f05aef>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['batting_team_players'].fillna('Unknown', inplace=True)
<ipython-input-42-6e1268f05aef>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bowling_team_players'].fillna('Unknown', inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
print(df.isnull().sum())

match_id                0
date                    0
match_type              0
event_name              0
innings                 0
                       ..
batting_team_players    0
bowling_team_players    0
curr_batter_runs        0
curr_batter_balls       0
bowler_wicket           0
Length: 62, dtype: int64

In [ ]:
df.to_csv('cleaned_ipl_dataset.csv', index=False)